<div class="contact">
    <h2 class="contact__heading">Contact</h2>
    <div class="contact__form">
        <input type="text" class="input">
        <input type="email" class="input">
        <textarea class="textarea"></textarea>
        <button class="submit">Send Message</button>
    </div>
    <div class="contact__details">
        <div class="detail">
            <h5 class="detail__name">Email</h5>
            <span class="detail__content">email@email.com</span>
        </div>
        <div class="detail">
            <h5 class="detail__name">Phone</h5>
            <span class="detail__content">+1 (234) 567-8910</span>
        </div>
        <div class="detail">
            <h5 class="detail__name">Links</h5>
            <span class="detail__content">
                <a href=""><i class="fab fa-linkedin-in"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-github-alt"></i></a>
            </span>
        </div>
        <button class="resume">Open CV</button>
    </div>
</div>