<div class="landing">
    <canvas id="triangular" class="landing__background"></canvas>

    <div class="landing__center-box">
        <h1 class="landing__heading">Mihir Desai</h1>
        <h3 class="landing__caption">Rotating Text Here</h3>
        <ul class="landing__smc">
            <li class="landing__smc__links"><a href=""><i class="fab fa-linkedin-in"></i></a></li>
            <li class="landing__smc__links"><a href=""><i class="fab fa-instagram"></i></a></li>
            <li class="landing__smc__links"><a href=""><i class="fab fa-github-alt"></i></a></li>
            <li class="landing__smc__links"><a href=""><i class="fas fa-envelope"></i></a></li>
            <li class="landing__smc__links"><a href=""><i class="fas fa-file-alt"></i></a></li>
        </ul>
    </div>

    <span class="landing__down-marker .arrow-down"></span>
</div>
