<div class="projects">
    <h2 class="projects__heading">Projects</h2>
    <div class="projects__holder">
        <div class="project">
            <div class="project__graphic">

            </div>
            <h3 class="project__name">TriangularJS</h3>
        </div>
        <div class="project">
            <div class="project__graphic">

            </div>
            <h3 class="project__name">AT&T Hackathon</h3>
        </div>
        <div class="project">
            <div class="project__graphic">

            </div>
            <h3 class="project__name">CodeConnects</h3>
        </div>
    </div>
</div>