<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <title>{{ site.title }}</title>
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:locale" content="en_US" />
    <meta name="description" content="{{ site.description }}" />
    <meta property="og:description" content="{{ site.description }}" />
    <link rel="canonical" href="{{ site.url }}" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <script type="application/ld+json">
      {
        "name": "{{ site.title }}",
        "description": "{{ site.description }}",
        "@type": "WebSite",
        "url": "{{ site.url }}",
        "headline": "{{ site.title }}",
        "@context":"http://schema.org"
      }
    </script>
  
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  </head>

  <body>
    <main role="main">
        {% include intro.html %}
        {% include projects.html %}
        {% include contact.html %}
    </main>

    <script src="{{ "/assets/js/Triangular.min.js" | relative_url }}"></script>
    <script>
      new Triangular(document.getElementById("triangular"), {
        widthMultiplier: 1.2,
        heightMultiplier: 1.2,
        horizontalDivisions: 10,
        verticalDivisions: 7,
        animationRangeX: 90,
        animationRangeY: 30,
        animationSpeed: 1500,
        color1: [53, 92, 125],
        color2: [192, 108, 132],
        strokeModR: 1,
        strokeModG: 1,
        strokeModB: 1
      });
    </script>

  </body>

</html>
